.header__logo {
    margin-bottom: 41px;
}

@media screen and (max-width: 550px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0;
    }
}

.header__logo_opened {
  margin: 0;
}
