.element__delete {
    background: url(../../../images/trash.svg) center no-repeat;
    width: 18px;
    height: 19px;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.element__delete:hover {
    opacity: 0.6;
}
