.header__container {
  display: none;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 551px) {
  .header__container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .header__container_opened {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  }
}
