.modal__input {
    border: 0;
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 30px 0 0;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

.modal__input::placeholder {
    color: #C4C4C4;
}

.modal__input:focus {
    outline: 0;
}

@media screen and (max-width: 530px) {
    .modal__input {
        width: 238px;
    }
}
